{% extends 'padre.html' %}


{% block contenidoQueCambia %}
    
    <h1>About Me</h1>
    <h3>Leandro Zenocratti</h3>
    <p>
        Bienvenidos. Mi nombre es Leandro, tengo 38 años.
        Soy Licenciado en Comercio Exterior, hace más de 10 años que trabajo en el sector.
        En busca de nuevas oportunidades y seguido por la curiosidad decidí comenzar en el camino de uno de los lenguajes de programación quizá más demandados actualmente.
        Este curso es gran comienzo.
        Saludos.
    </p>
    
    
{% endblock contenidoQueCambia %}