{% extends 'padre.html' %}


{% block contenidoQueCambia %}
    
    <ul>
        {% for curso in cursos %}
        <li> 
            <a href="{% url 'DetalleCursos' curso.id %}">{{curso}} </a>
        </li>
        <div>
            <button>
            <a href="{% url 'EliminaCursos' curso.id %}">Eliminar</a>
            </button>
            
            <button>
            <a href="{% url 'ActualizaCursos' curso.id %}">Editar</a>
            </button> 
        </div>
        {% endfor %}
    </ul>
    <button><a href="{% url 'CreaCursos' %}">Crear Curso</a></button>

{% endblock contenidoQueCambia %}