<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio'%}">Inicio</a>
        <a class="navbar-brand" href="{% url 'ListadoDeCursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'EstudianteFormulario'%}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'ProfesorFormulario'%}">Profesores</a>
        <a class="navbar-brand" href="{% url 'AboutMe'%}">About Me</a>
        
        {% if user.is_authenticated %}
            {% if url %}
                <img src="{{url}}" height="30px" alt="avatar">
            {% endif %}
            <p>Bienvenido {{user.username}} </p>
            <a class="btn btn-primary" href="{% url 'Logout'%}">Logout</a>
            <a class="btn btn-primary" href="{% url 'EditarPerfil'%}">Edit</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'Login'%}">Login</a>
            <a class="btn btn-primary" href="{% url 'Registrar'%}">Sign up</a>
        {% endif %}
    </div>
</nav>